*{
  margin: 0;
  padding: 0;
}
body {
  /* height: 100%;
  overflow: hidden;
  overflow-y: auto; */
  padding: 15px;
}
.container {
  height: 400px;
  overflow-y: auto;
}
.container li{
  line-height: 30px;
  font-size: 14px;
}

.container {
  border: 1px solid #ccc;
}

.container1{
  margin-bottom: 40px;
}
